@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Carter+One&family=Ewert&display=swap');
/* le bloc de ma page */
@media screen and (min-width: 768px){

main{
    background-color: black;
}
section {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 25px;
    row-gap: 5px;
    height: 65vh;
}
/* les images des cartes */
img{
    height: 170px;
    width: 20vh;
    margin-bottom:10px;
    border-radius: 15px;
    box-shadow: 2px 2px 0px 0px #ffffff;
}
/* les titre sous les cartes */
figcaption{
    vertical-align: middle;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 10px;
    display: grid;
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Carter One', cursive;
}
/* le titre du site */
h1{ 
    font-family: 'Carter One', cursive;
    color: rgb(220, 53, 69);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 55PX;
    background: rgb(241, 230, 6); 
    height: 12vh;
    text-shadow: 3px 3px 1px  #f38406;
    letter-spacing: 5px;
    
}

/* figcaption:hover {
    transform: scale(1.2);
    z-index: 2;
} */
img:hover{
    transform: scale(1.1);
    z-index: 2;

}
}
@media screen and (max-width: 380px) { /* restreindre les règles aux écrans */
    section {
        text-align: center;
        display: grid;
        padding-top: 75px;
        font-size: 55px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        
}
    img {
        width: 100%; /* la taille de l'image suite automatiquement la largeur de la colonne du navigateur*/
        height: 950px;
        object-fit: cover; /* cette propriété va améliorer l'apparence de l'image pour qu'elle ne soit pas coupée lors de rétrécissement d'une fenêtre */
        object-position: bottom;
        max-width: 100vh;
        margin: 2em auto;
        border-radius: 3rem;
       
       
      }
      figcaption{
        font: 1.2em 'carter one'; /* définir les différentes polices et la taille du caractère à utiliser dans la balise body. L'unité "em" est plus pratique pour les appareils mobiles que "px" */
        background-color: #ffffff;
      }
      h1 {
        font-size: calc(1.5rem + 3vw); /* 20px = 1.25rem et 24px=1.5rem. Viewport = taille de la fenêtre d'un navigateur. Si la fenêtre est 50cm de large alors 1vw = 0.5cm */
        margin: 0;
        
      }
main{
    background-color: black;
}
h1{ 
    font-family: 'Carter One', cursive;
    color: rgb(220, 53, 69);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 55PX;
    background: rgb(241, 230, 6); 
    height: 12vh;
    text-shadow: 3px 3px 1px  #f38406;
    letter-spacing: 5px;
    
}











/* @media screen and (max-width:425) {
    
 
    
main{
    background-color: black;
}
section {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 25px;
    row-gap: 5px;
    height: 65vh;
}
/* les images des cartes */
/* img{
    height: 10px;
    width: 10vh;
    margin-bottom:10px;
    border-radius: 15px;
    box-shadow: 2px 2px 0px 0px #ffffff;
    
} */

/* les titre sous les cartes */
/* figcaption{
    vertical-align: middle;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 10px;
    display: grid;
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Carter One', cursive;
} */
/* le titre du site */
/* h1{ 
    font-family: 'Carter One', cursive;
    color: rgb(220, 53, 69);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 55PX;
    background: rgb(241, 230, 6); 
    height: 12vh;
    text-shadow: 3px 3px 1px  #f38406;
    letter-spacing: 5px;
    
}

img:hover{
    transform: scale(1.2);
    z-index: 2;
} */
} 