<main> 
    <h1>漫 KAWA MANGA 画</h1>
    <section>
        <figure>
            <img src="/assets/images/black-clover.png"><figcaption>Black Clover</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/my-hero-academia.jpg"><figcaption>My Hero Academia</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/fire-force.jpg"><figcaption>Fire Force</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/solo-leveling.jpg"><figcaption>Solo Leveling</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/dragon-ball.jpg"><figcaption>Dragon Ball Super</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/demon-slayer.png"><figcaption>Demon Slayer</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/tokyo-ghoul.jpg"><figcaption>Tokyo Ghoul</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/full-metal.jpg"><figcaption>Full Metal</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/one-punch.jpg"><figcaption>One Punch man</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/one-piece.jpg"><figcaption>One Piece</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/snk.jpg"><figcaption>Shingeki no Kyojin</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/jujutsu-kaisen.jpg"><figcaption>Jujustu Kaisen</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/naruto.png"><figcaption> Naruto</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/seven.jpg"><figcaption>Seven deadly sins</figcaption>
        </figure>
        


    </section>
</main>