<div class="container text-center">
    <h1></h1>
     
    </div>
    
    
    <div class="shell">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="/assets/images/sangohan2.jpg" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Shōnen</span>
                </div>
                <div class="title-product">
                  <h3>Qu'est-ce q'un Shônen ?</h3>
                </div>
                <div class="description-prod">
                  <p>En Occident, le mot shōnen (少年?, qui signifie « garçon ou jeune » en japonais) est utilisé pour désigner une ligne éditoriale de manga. La cible éditoriale du shōnen est à l'origine constituée principalement d'adolescents et de jeunes de genre masculin, contrairement au shōjo manga (少女漫画?) qui se veut être une ligne éditoriale pour les jeunes filles.

                    Le caractère kanji 少年 (shōnen) signifie littéralement « garçon » ou « jeunesse », et le caractère 漫画 (manga) signifie « bande dessinée » ; ainsi, la phrase complète signifie "bande dessinée de jeunes", ou simplement "bande dessinée de garçons". La ligne éditoriale shōnen est la plus populaire et la plus vendue.</p>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="/assets/images/ergoproxy.jpg" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Seinen</span>
                </div>
                <div class="title-product">
                  <h3>Qu'est-ce q'un Seinen ?</h3>
                </div>
                <div class="description-prod">
                  <p>Le seinen manga (青年漫画?, le manga pour jeune homme) est utilisé pour désigner une ligne éditoriale de manga, dont la cible éditoriale est avant tout constituée par les jeunes adultes de sexe masculin. Il arrive cependant que le genre soit destiné à des personnes plus âgées1. Le genre est à opposer au josei manga (女性漫画?, le manga pour jeune femme).

                    Le seinen manga n'est pas un genre, le terme désigne la cible éditoriale du manga. Ainsi, un manga est considéré comme un seinen s'il a été prépublié au Japon dans un magazine dont la cible première est composée de jeunes adultes de sexe masculin.</p>
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="/assets/images/sailormoon.jpg" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Shōjo</span>
                </div>
                <div class="title-product">
                  <h3>Qu'est-ce q'un Shōjo ?</h3>
                </div>
                <div class="description-prod">
                  <p>Le shōjo manga (少女漫画?, litt. « bande dessinée pour fille ») est une catégorie éditoriale du manga, aussi parfois qualifié de « genre », qui cible un public féminin, adolescent ou jeune adulte. Elle est avec le shōnen manga et le seinen manga, l'une des trois principales catégories éditoriales du manga. Le shōjo manga est traditionnellement publié dans des magazines de prépublication de manga dédiés, qui peuvent se spécialiser sur une tranche d'âge du lectorat ou sur un genre narratif.</p>
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="/assets/images/noooooooon.jpg" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Josei</span>
                </div>
                <div class="title-product">
                  <h3>Qu'est-ce q'un Josei ?</h3>
                </div>
                <div class="description-prod">
                  <p>Le josei manga (女性漫画?, litt. « manga féminin/pour femme »), aussi connu sous les noms de ladies' comic (レディースコミック?) et de redikomi (レディコミ?), est une catégorie éditoriale du manga, aussi parfois qualifié de « genre », apparue dans les années 1980. Formellement le josei se destine à un public de femmes adultes, insérées dans la vie active et/ou mariées et s'adresse ainsi à un lectorat plus âgé que celui du shōjo manga, destiné aux adolescentes et femmes jeunes adultes. Le josei manga est traditionnellement publié dans des magazines de prépublication de manga dédiés, qui peuvent se spécialiser sur un genre narratif.</p>
                
               
                  
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
                
             
          
        
                
           
        
      </div>
    </div>
    