<div class="col-md-12">
    <div class="card card-container">

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        class="m-5"
        enctype="multipart/form-data"
      >    

      <div class="form-group">
        <label for="image">Changer d'image</label>
        <input type="file" class="form-control" name="image" accept="image/" (change)="imageUploaded($event)" id="image">
        <div class="alert-danger">
        </div>
        <div class="col-2" >
          <img src="{{imageDisplay}}" style="width:100%">
      </div>

      </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input
            type="text"
            class="form-control"
            name="login"
            [(ngModel)]="form.login"
            required
            minlength="3"
            maxlength="20"
            #login="ngModel"
          />
          <div class="alert-danger" *ngIf="login.errors && f.submitted">
            <div *ngIf="login.errors['required']">Le login est requis</div>
            <div *ngIf="login.errors['minlength']">
              Le login doit avoir au moins 3 caractères
            </div>
            <div *ngIf="login.errors['maxlength']">
              Le login doit avoir au maximum 3 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>Role: </div>
          <div class="form-control">
            <label for="yes" class="me-2">Admin</label>
            <input
              type="radio"
              name="isAdmin"
              [(ngModel)]="form.isAdmin"
              #isAdmin="ngModel"
              id="yes"
              value="true"
            />
            <label for="no" class="ms-4 me-2">Utilisateur</label>
            <input
              type="radio"
              name="isAdmin"
              [(ngModel)]="form.isAdmin"
              #isAdmin="ngModel"
              id="no"
              value="false"
            />
          </div>
          <div class="alert-danger" *ngIf="isAdmin.errors && f.submitted">
            <div *ngIf="isAdmin.errors['required']">Veuillez choisir le rôle de l'utilisateur</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block mt-2">Editer</button>
        </div>
        
        <div class="alert alert-warning" *ngIf="f.submitted && isUpdateFailed">
         La mise à jour de l'utilisateur a échoué <br />{{ errorMessage }}
        </div>
      </form>
      
      <div class="alert alert-success" *ngIf="isSuccessful && user">
        L'utilisateur {{user.login}} a bien été mis à jour!
      </div>
      <a routerLink="../../user-index">Retour à la liste des utilisateurs</a>
    </div>
  </div>
  