<div class="col-md-12">
    <div class="card card-container">
    <!-- on affichera le formulaire que si l'utilisateur est connecté et a le status admin -->
      <form
        
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        class="m-5"
      >
        <div class="form-group">
          <label for="title">Titre</label>
          <input
            type="text"
            class="form-control"
            name="title"
            [(ngModel)]="form.title"
            required
            minlength="3"
            maxlength="20"
            #title="ngModel"
          />
          <div class="alert-danger" *ngIf="title.errors && f.submitted">
            <div *ngIf="title.errors['required']">Le titre est requis</div>
            <div *ngIf="title.errors['minlength']">
             Le titre doit avoir au moins 3 caractères
            </div>
            <div *ngIf="title.errors['maxlength']">
              Maximum 20 caractères pour le titre
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Contenu</label>
          <textarea
            type="content"
            class="form-control"
            name="content"
            [(ngModel)]="form.content"
            required
            content
            #content="ngModel"
          ></textarea>
          <div class="alert-danger" *ngIf="content.errors && f.submitted">
            <div *ngIf="content.errors['required']">Veuillez insérer un contenu</div>
            <div *ngIf="content.errors['content']">
              content must be a valid content address
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block m-2">Publier</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && !isPublished">
          La publication a échoué<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isPublished">
        Votre article a été posté!
      </div>
    </div>
  </div>
  