
<h1>漫 KAWA MANGA 画</h1>
<br /><br />
  <div class="container">

    <div class="row">
      <div class="col-md-8">

        

        <div class="card mb-3" *ngFor="let post of posts">
          <img src="/assets/images/mangaka.jpg" class="card-img-top" alt="image manga">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="../post/{{post._id}}">{{post.title}}</a></h5>
            <p class="card-text">{{post.content}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card mb-3">
          <img src="/assets/images/manga-club.jpg" class="card-img-top" alt="picture">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="/assets/images/manga-noir2.jpg" class="card-img-top" alt="image anime">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-4">

        <div class="card">
          <div class="card-body">
            <h5>A propos de l'histoire des mangas</h5>
            <hr />
            <p>Un manga (漫画?) est une bande dessinée japonaise. La plupart des mangas se conforment à un style développé
              au Japon à la fin du xixe siècle, alors que la forme a une longue préhistoire dans l'art japonais
              antérieur. Au Japon, le terme manga désigne plus généralement la bande dessinée, quelle que soit son
              origine. En Occident, le mot « manga » désigne une bande dessinée japonaise, mais aussi parfois une bande
              dessinée non japonaise respectant les codes des productions populaires japonaises ou pour nommer, par
              métonymie, d'autres produits visuels rappelant certaines de ces bandes dessinées (dessins animés, style
              graphique, etc.).
              Les mangas se lisent généralement de droite à gauche. En raison du rythme élevé de parution1 et pour
              limiter le coût d'impression, la plupart des mangas sont dessinés en noir et blanc, mis à part la
              couverture. Les deux premiers pays les plus consommateurs de mangas sont le Japon et la France. La
              personne réalisant des mangas est appelée mangaka.</p>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            <img src="/assets/images/naruto.png" class="card-img-top" alt="img">
          </div>
        </div>



        <br />
        <div class="card">
          <div class="card-body">
            <h5>Le manga fait référence aux bandes dessinées japonaises, dont la série est souvent transformée en anime.</h5>
            <hr />
            <div class="ratio ratio-16x9">
              <video controls src="/assets/images/TOP 10 MEILLEURS ANIMÉS DE TOUS LES TEMPS ! QUE VOUS DEVEZ ABSOLUMENT REGARDER partie 2.mp4" title="YouTube video" allowfullscreen></video>
            </div>
          </div>
        </div>

 </div>


     
    
    <!-- <app-root></app-root> -->


