<section>
  <div class="container">
    <div class="user signinBx">
      <div class="imgBx">
        <img src="/assets/images/93355430-256-k983346.jpg">
      </div>
      <div class="formBx">
        <form [formGroup]="form">
          <h1>S'inscrire</h1>
          <input type="text" formControlName="login" placeholder="Nom">
          <input type="text" formControlName="email" placeholder="Email">
          <input type="password" formControlName="password" placeholder="Mot de passe">
          <input type="submit" value="Connexion" (click)="onSubmit()">
          <!-- <p class="signup">Vous n'avez pas de compte ?<a href="#" onclick="toggleForm();"> S'inscrire</a></p> -->
        </form>
      </div>
    </div>

   </div>
</section>