<div>
<img id="bg" src="/assets/images/manga-noir.jpg" alt="" srcset="">
</div>
<section>
    <div class="bordure">
<!-- Default form login -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Connexion</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="Mot de passe" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Mot de passe">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Se souvenir moi</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a routerLink="">Mot de passe oublié?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4 bg-danger" type="submit">Connexion</button>

    <!-- Register -->
    <p>Pas encore membre?
        <a routerLink="">S'inscrire</a>
    </p>

    <!-- Social login -->
    <!-- <p>ou connectez-vous avec:</p> -->

    <!-- <a routerLink="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a routerLink="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a routerLink="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a routerLink="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

</form>
</div>
<!-- Default form login -->
</section>