/* le formulaire */
form{
    width: 60vh;
    background-color:rgb(175, 165, 163) ;
    position: absolute;
    border-radius: 15px;
    opacity: 0.95;
}
/* le contoure du formulaire */
.bordure{
    width: 60vh;
    margin: 0 auto;
    margin-top: 90px;
   
     
}
 /* le badground de ma page */
img#bg {
    position: absolute;
    top: 90px;
    left: 0;
    width: 220vh;
    height: 100vh;
    
}


