<footer class="bg-dark text-center text-white">



  <div class="text-center p-3 fixed-bottom" style="background-color: #e30e24;">
    <!-- <p>© 2023 Copyright: Fait par Bakari.K </p> -->
    
    <a id="top-btn" *ngIf="showBtn$ | async"class="to-top" (click)="gotoTop()"> </a>
    <a routerLink="/CGU" target="_blank" rel="noopener noreferrer">Conditions Générales d'Utilisation</a>
    <a routerLink="/rgpd"target="_blank" rel="noopener noreferrer">Politique de confidentialité</a>
  </div>
  
</footer>