*{
    padding: 0;
    margin: 0;
    
}
.block1{
    width: 100%;
    height: 300px;
    background-color:red;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;

    


}
.block1 img{
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
.sous-block1{
    width:20%;
    height:100%;
    background-color: blue;
    /*border: 2px solid black;*/
    display: inline-block;
    position: relative;
    left: auto;
    top: auto;
    z-index: 10;
    
    

}
.block2{

    width: 50%;
    height: 100%;
    background-color: rgb(242, 255, 0);
    /*border: 0px solid black;*/
    display: inline-block;
    border-radius: 100px;
    
}    
.block2 img{
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
    
p{
    display:inline-block;
}
.sous-block2{
    width:50%;
    height:100%;
    /* background-color: rgb(234, 13, 135); */
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 50px;
    /*border: 2px solid black;*/
    display: inline-block;
    position: relative;
    z-index: 20;

}
.block3{

    width: 50%;
    height: 80%;
    background-color: rgb(255, 94, 0);
    /*border: 0px solid black;*/
    display:inline-block;
}
.sous-block3{
    width:50%;
    height:80%;
    background-color: rgb(0, 242, 255);
    display: inline-block; 
}
.block4{ 
    width: 50%;
    height: 80%;
    background-color: rgb(0, 255, 64);
    display:inline-block;
}
.sous-block4{
    width: 50%;
    height: 80%;
    background-color: aqua;
    display: inline-block;
} 

img {
    width: 500px;
    vertical-align: top;
    height: 100%;
   
   
}
.btn{
background:linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
color:rgb(6, 6, 6);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 5px ;
border-radius: 5px;


}

.btn:hover{
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    
    cursor:pointer;

}
.btn:active{
    color:white ;

}
